.header {
    margin: 7rem auto 7rem auto;
    width: 90%;
    max-width: 75rem;
    color: #ddd6cb;
    font-size: 1.5rem;
    text-align: center;
}

.header h1 {
    font-family: "Montserrat", sans-serif;
}

.highlight {
    background-image: linear-gradient(to right, #f9572a, #ff8a05);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main {
    width: 90%;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
}

.main h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #ddd6cb;
}

.perks {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 3rem 0;
    padding: 0;
    gap: 3rem;
}

.perks li {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2rem; */
}

.perks img {
    width: 30rem;
    height: 30rem;
    object-fit: contain;
}

.perks p {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: #ddd6cb;
}