.header {
    display: flex;
    gap: 3rem;
    margin: 3rem auto;
    width: 90%;
    max-width: 75rem;
    padding: 1.5rem 0;
}

.slideshow {
    width: 40rem;
    height: 25rem;
}

.headerText {
    align-self: center;
}

.hero {
    color: #ddd6cd;
}

.hero h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #f9572a, #ffc905);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    font-size: 1.5rem;
}

.cta {
    display: flex;
    font-size: 1.5rem;
    gap: 1rem;
}

.cta a {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.cta a:first-child {
    font-weight: normal;
    color: #ff9b05;
    padding-left: 0;
}

.cta a:first-child:hover,
.cta a:first-child:active {
    color: #f9b241;
}

.cta a:last-child {
    background-image: linear-gradient(to right, #f9572a, #ffc905);
    font-weight: bold;
    border-radius: 0.5rem;
    color: #ffffff;
}

.cta a:last-child:hover, 
.cta a:last-child:active {
    background-image: linear-gradient(to right, #fd4715, #f9b241);
}

.section {
    display: flex;
    flex-direction: column;
    color: #ddd6cb;
    font-size: 1.5rem;
    max-width: 50rem;
    width: 90%;
    margin: 2rem auto;
    text-align: center;
}